@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Architects+Daughter&family=Borel&family=Bungee+Spice&family=Caveat:wght@700&family=Comfortaa:wght@500&family=Dancing+Script:wght@700&family=Exo&family=Montserrat+Alternates:wght@400;600;900&family=MuseoModerno:ital,wght@0,500;1,400&family=Sriracha&family=Ubuntu:wght@500&display=swap');

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-blend-mode: darken;
    background: radial-gradient(circle at 6.6% 12%, rgb(64, 0, 126) 20.8%, rgb(0, 255, 160) 100.2%);
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform-origin: middle;
    height: 50vh;
    margin: 0;
    
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: baseline;
    background: radial-gradient(1294px at -15.5% 23.8%, rgb(255, 206, 149) 0%, rgb(247, 92, 92) 44.9%, rgba(108, 0, 96, 0.97) 93.8%);
    background: #EB3349;
    background: -webkit-linear-gradient(to right, #F45C43, #EB3349);
    background: linear-gradient(to right, #F45C43, #EB3349);
    box-shadow: rgba(75, 9, 51, 0.4) 0px 5px, rgba(255, 2, 162, 0.3) 0px 10px, rgba(223, 6, 71, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    overflow: hidden;
    margin-top: 0%;
    width: 75%;
    height: 10vh;
    outline: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.logo {
    height: 80%;
    width: auto;
    margin-left: 1%;
    margin-right: 0%;
    position: absolute;
}

.central-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform-origin: middle;
    height: 90vh;
    width: 170vh;
    min-height: 100vh;
    height: 100%;
    width: 100%;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 500px;
    width: auto;
    margin-top: 60px;
}

.image-display {
    max-height: 100%;
    max-width: 100%;
    /* margin-top: 50px; */
    border-radius: 6pt;
    /* position: absolute; */
    transition: 0.2s ease-in-out;
    z-index: 1;
}


.content {
    background: #313131;
    background: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);

    border-radius: 10pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.2s ease-in-out;
}


.content:hover {
    transform: scale(0.8) rotate(-10deg);
}

.textBox {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    flex-wrap: wrap;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.textBox>.text-title {
    font-weight: 900;
    color: rgb(255, 107, 9);
    color: #FFAE00;
    position:absolute;
    font-size: 40px;
    font-family: 'Borel', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    transform: rotate(5deg);
    max-width: 90%;
    max-height: fit-content;
    text-shadow: 10px 10px 25px rgb(81, 67, 21),
        -10px 10px 25px rgb(81, 67, 21),
        -10px -10px 25px rgb(81, 67, 21),
        10px -10px 25px rgb(81, 67, 21);
}

.textBox>span {
    font-size: 12px;
    color: lightgrey;
}

.content:hover>.textBox {
    opacity: 1;
}

.content:hover>.image-display {
    height: 85%;
    filter: blur(5px);
    animation: anim 3s infinite;
}



@keyframes anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}


.title-text,
.astro-text {
    padding: 10px;
    color:#313131;
    font-size: 24px;
    font-weight: 900    ;
    font-stretch: extra-condensed;
    text-shadow: 10px 10px 25px rgb(81, 67, 21),
        -10px 10px 25px rgb(81, 67, 21),
        -10px -10px 25px rgb(81, 67, 21),
        10px -10px 25px rgb(81, 67, 21);
    font-family: 'Akaya Telivigala', cursive;
    letter-spacing: 1px;
    mix-blend-mode:hard-light;
    mix-blend-mode:darken;
}

.astro-text {
    font-variant: normal;
    font-family: 'Comfortaa', cursive;
    font-size: 22pt;
    font-weight: 900;
    border-radius: 100px;
    color: #F28705;
    mix-blend-mode: normal;
    text-align: center;
    background-color: #313131;
    padding-left: 25px;
    padding-right: 20px;
    height: auto;
    letter-spacing: 1px;
    box-shadow: 0 45px 65px rgba(0,0,0,0.50), 0 35px 22px rgba(0,0,0,0.16);
    margin-left: -60px;
    padding-bottom: 7px;
}